<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vida y obra de Turing</title>
    <h1>Bienvenidos al mundo de Turing</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet aliquam porro facilis accusamus asperiores ea natus magnam saepe minus, delectus itaque exercitationem ipsam nesciunt, sit et fugiat, perferendis quibusdam quia.</p>
</head>
<body>
    
</body>
</html>